:root{
  --dom-colr: #ddcbcb;
  --blue-color: #252027c4;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    position: relative;
    background-position: center center;
    background-image: url("https://static.euronews.com/articles/stories/08/35/41/54/1440x810_cmsv2_e7a24085-f4f9-50b2-a58f-cb65a2f1b510-8354154.jpg");
    color: #cccccc;
    font-family: Tahoma;
    font-size: 16px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
  }
  

  .container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000e0;
    width: 60%;
    max-width: 600px;
    min-width: 560px;
    height: 700px;
    border-radius: 32px;
    border: 1px solid var(--dom-colr);
  }

  h1{
    font-size: 2.2em;
    margin: 1em auto;
    text-align: center;
    color: var(--dom-colr);
  }
  
  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  
  fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid var(--dom-colr);
    border-top: 3px solid var(--dom-colr);
  }

  label {
    color: ar(--dom-colr);
    display: block;
    margin: 0.5rem 0;
  }
  
  input{
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 3em;
    background-color: #ffffff;
    border: 1px solid var(--dom-colr);
    border-radius: 32px;
    color: var(--dom-colr);
  }

  input::placeholder{ /* Modify the text inside the input */
    font-size: 18px;
    padding-left: 1em;
    color: var(--dom-colr);
  }

  input:focus{ /* Modify the input when clicked */
    padding-left: 1em;
    font-size: 16px;
    color: var(--dom-colr);

  }

  input:focus::placeholder{
    color: transparent;/* To make the placeholder disappear when clicked */
  }
  
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
    display: inline; 
  }
  
  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: var(--blue-color);
    border-color: var(--dom-colr);
    color: var(--dom-colr);
    min-width: 300px;
    cursor: pointer;
  }

  input[type="submit"]:hover{
    background-color: transparent;
  }
  
  a{
    color: #dfdfe2;
  }

  .signup-link{
    text-align: center;
    margin: 0 auto;
  }