*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background: rgb(232,238,241);
  background: radial-gradient(circle, rgba(232,238,241,1) 0%, rgba(149,205,238,1) 100%);
}

section {
  width: 100%;
  height: 12vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y:-500px;
}

section nav{
  width: 100%;
  height: 12vh;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 10px black;
  background: rgb(190,197,201);
  background: radial-gradient(circle, rgba(190,197,201,1) 7%, rgba(232,238,241,1) 88%);
  position: fixed;
  z-index: 100;
}

section nav .logo img{
  width: 150px;
  cursor: pointer;
  
}
section nav ul{
  list-style: none;
  margin-right: 60%;
}
section nav li{
  display: inline-block;
  padding: 0 5px;
  font-size: 23px;
  
}
section nav li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: background-color 0.3s ease-in-out;
  padding:15px;
}
section nav li a:hover{
  color:  rgb(247, 248, 248);
  background-color: #43b0f1;
  border-bottom:  3px solid #032133;

}



::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 8px black;
}

::-webkit-scrollbar-thumb{
  background: #071d2a;
  border-radius: 10px;
}





/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 20%; /* IE10 */
  flex: 20%;
  background: rgb(232,238,241);
  background: radial-gradient(circle, rgba(232,238,241,1) 0%, rgba(149,205,238,1) 100%);
  padding: 25px;
  padding-bottom: 5%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.side h1{
  text-align: center;
  margin-bottom: 5%;
  text-transform: uppercase;
  font-size:25px;

}

.side h2{
  text-align: center;
  margin-top: 7%;
  font-size: 25px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.side p{
  text-align: center;
  margin-bottom: 7%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.row .side .aut-img{
  height: 200px;
  width: 70%;
  margin: auto;
}
.row .side .aut-img img{
  height: 100%;
  width: 100%;
}

.side .atr-bck{
  background-color: rgba(41,106,1,0.1);
  align-items: center;
  padding: 8%;
  margin-bottom: 7%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.side .atr-bck p{
  text-align: justify;
  line-height: 25px;
  font-size: 13px;

}

.side .works{
  background-color: rgba(145, 153, 154, 0.7);
  padding: 5%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.side .works .video{
  display: block;
  width:280px;
  height: 260px;
  margin: auto;
  }
  
  .side .works  .video iframe{
  width: 100%;
  height: 100%;
  }









/* Main column */
.main {   
  display: flex; /* Add this line to enable flexbox */
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background: rgb(232,238,241);
  background: radial-gradient(circle, rgba(232,238,241,1) 0%, rgb(137, 192, 224) 100%);
  padding: 20px;
}

.main .bk-img {
  height: 250px;
  width: 400px;
  background-color: aquamarine;
  float: left;
  margin-right: 40px; /* Add margin to create space between image and text */
  margin-bottom: 20px;
  margin-left: 10px;

}

.main .bk-img img{
  height: 100%;
  width: 100%;
  margin:0;
  border: 5px solid #91c1e4;
  box-shadow: 3px 15px 36px -2px rgba(0,0,0,0.69);
-webkit-box-shadow: 3px 15px 36px -2px rgba(0,0,0,0.69);
-moz-box-shadow: 3px 15px 36px -2px rgba(0,0,0,0.69);
}


.main h1,
.main h5,
.main p {
  /* Remove float property */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: justify;
}
.main h5, .main p{
margin-bottom: 15px;
}

.main p{
line-height: 35px;
font-size: 15px;
margin-bottom: 3%;
}
.main h1{
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
color: #6d6969;
}
.main h5{
color: #c7bfbf;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.book-info {
  padding: 20px; /* Adjust the margin as needed */
  background-color: rgba(70, 73, 67, 0.2);
  padding: 5%;
  
}

.book-info .video{
  display: block;
  margin: auto;
  border:5px solid #dfe6df;
  width:700px;
  height: 450px;
  
  }
  
  .book-info .video iframe{
  width: 100%;
  height: 100%;
  }



/* Fake image, just for this example */
.fakeimg {
  background-color: #b8d308;
  width: 90%;
  padding: 10px;
}











/* Footer */
.footer {
  padding: 30px;
  text-align: center;
  background: rgb(190,197,201);
  background: radial-gradient(circle, rgba(190,197,201,1) 7%, rgba(232,238,241,1) 88%);
}

.footer h3{
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
  color: #fdfffc;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.footer a{
  background-color: #55b0c3;
  padding: 13px;
  padding-left:20px ;
  padding-right: 20px;
  border-radius: 10px;
  box-shadow: 2px 18px 13px -2px rgba(0,0,0,0.56);
-webkit-box-shadow: 2px 18px 13px -2px rgba(0,0,0,0.56);
-moz-box-shadow: 2px 18px 13px -2px rgba(0,0,0,0.56);
  margin: auto;
  margin-right: -1300px;
  
}








/* Media Query */
@media only screen and (max-width: 768px) {
  html, body{
      width: 100%;
      overflow-x: hidden;
  }

  .row {   
      flex-direction: column;
    }
  
  section{
    height: 8vh;
  }
    section nav{
      width: 100%;
      height: 8.5vh;
  }

  section nav .logo img {
    width: 80px;
}

section nav ul {
    display:flex;
    margin-right: 20%;
}

section nav li{
    font-size: 15px;
    padding: 0 3px;
}

section nav li a{
    padding:10px;
  }


  .main .bk-img {
    height: 150px;
    width: 120px;
    background-color: aquamarine;
    float: left;
    margin-right: 40px; /* Add margin to create space between image and text */
    margin-bottom: 20px;
    margin-left: 10px;
  }
  
  .main h1{
    font-size: 24px;
    }
    .main h5{
    font-size: 8px;
    }



      
      .footer h2{
        display: inline-block;
        text-transform: uppercase;
        font-size: 20px;
        color: #fdfffc;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
      
      
      .footer a{
        background-color: #296a01;
        font-size: 10px;
        padding: 15px;
        padding-bottom: 5px;
        margin-right: -60%;
        
      }
}
