body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

.video-background {
    height: auto;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover; 
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    z-index: -1;
}

.particle {
    animation: particle-animation 2s forwards;
    border-radius: 100%;
    height: 12px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 12px;
}

@keyframes particle-animation {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

.navigation {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.menu-icon, .search-icon {
    color: #371111;
    cursor: pointer;
    font-size: 35px; 
    text-shadow: 2px 1px 2px #FF1694;
    transition: color 0.3s;
}

.menu-icon:hover, .search-icon:hover {
    color: #FF1694;
    text-shadow: 2px 1px 4px #000;
}

.dropdown-content {
    animation: fadeInUp 0.4s, fadeInDown 0.4s;
    background: linear-gradient(to left, 
        rgba(255, 105, 180, 0.9),  /* Hot pink with 90% opacity */
        rgba(255, 192, 203, 0.9),  /* Light pink (Pink) with 90% opacity */
        rgba(255, 255, 255, 0.9)   /* White with 90% opacity */
    );
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    color: #371111;
    display: none;
    left: 40px;
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    position: absolute;
    text-shadow: 0 1px 1px #FF1694;
    top: 55px;
    z-index: 1;
}

.dropdown-content li {
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px; 
    padding: 12px 16px;
    transition: 0.2s;
}

.dropdown-content li a {
    display: block;
    text-decoration: underlined;
    transition: color 0.1s;
}

.dropdown-content li:hover {
    background: linear-gradient(to right, #ff1493, #ff69b4, #ffb7c5);
    color: #fff;
    text-shadow: 2px 1px 2px #000;
}

.search-bar {
    animation: fadeIn 0.2s;
    background: linear-gradient(to left, #ff1493, #ff69b4, #ffb7c5);
    display: none;
    padding: 10px;
    position: absolute;
    right: 50px;
    top: 2px;
}

.search-bar input {
    font-size: 16px;
    padding: 5px;
}

.show {
    display: block;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}

.dropdown-content, .fade-out {
    animation: fadeOut 0.4s forwards;
}

@media screen and (max-width: 600px) {
    .dropdown-content {
        position: static;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInDown {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

#real-time-tracker { 
    animation: fadeInUp 1s;
    color: #371111; 
    font-size: 20px; 
    margin: 20px 0; 
    text-shadow: 1px 1px 2px #FF1694; /* Black shadow */ 
}

/* Homepage Content */
.center-content {
    animation: fadeInDown 0.5s;
    color: #371111;
    margin-top: 32px;
    text-align: center;
}

.center-content h1 {
    color: #371111;
    font-family: 'Times New Roman', Times, serif;
    font-size: 125px;
    margin-bottom: 0; /* Remove space below */
    margin-top: 0; /* Remove space above */
    text-shadow: 3px 3px 6px #FF1694;
}

.center-content h1:hover {
    transform: scale(1.1);
}

.center-content h2 {
    color: #371111;
    font-family: 'Courier New', Courier, monospace;
    font-size: 56px;
    margin-bottom: 2%; /* Space between h2 and p */
    margin-top: 0; /* Remove space above */
    text-shadow: 1px 2px 3px #FF1694;
}

.center-content p {
    color: #371111;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: italic;
    margin: 30px auto;
    text-shadow: 1px 1px 1px #FF1694;
    transition: font 0.3s;
    width: 55%;
}

.center-content h2:hover, .center-content p:hover {
    transform: scale(1.05);
}

.social-icons a {
    color: #371111;
    font-size: 32px; /* Increased icon size */
    margin: 0 10px;
    text-shadow: 1px 1px 1px #FF1694;
    transition: color 0.3s, transform 0.3s;
}

.social-icons a:hover {
    color: #FF1694; /* Hot pink color */
    text-shadow: 1px 1px 1px #000;
    transform: scale(1.2);
}

/* About Us Content */
.about-us-content {
    animation: fadeInDown 0.5s;
    margin-top: 35px;
}

.about-us h1 {
    color: #371111;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    margin-bottom: 0; /* Remove space below */
    margin-top: 0; /* Remove space above */
    text-shadow: 3px 3px 6px #FF1694;
}

.about-us h1:hover {
    transform: scale(1.1);
}

.story-section {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.story-section img {
    margin-right: 20px;
    max-width: 200px; /* Adjust as needed */
    position: relative;
    transition: all 0.4s ease-in-out;
}

/* Hover Effect for the Image */
.story-section img:hover {
    transform: scale(1.3);
    z-index: 1000;
}

.story h2, .story h3 {
    color: #FF1694;
    font-family: 'Times New Roman', Times, serif;
    font-size: 56px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000; /* Clear black shadow */
}

.story h2:hover, .story h3:hover {
    transform: scale(1.05);
}

.story p {
    color: #371111;
    flex: 1;
    font-size: 27px;
    text-shadow: 1px 1px 1px #FF1694;
    transition: font 0.3s;
}

.story p:hover {
    background: linear-gradient(to left,
        rgba(255, 182, 193, 0.8), /* #ffb6c1 with 80% opacity */
        rgba(255, 195, 200, 0.8), /* #ffc3c8 with 80% opacity */
        rgba(255, 222, 229, 0.8), /* #ffdee5 with 80% opacity */
        rgba(255, 235, 237, 0.8), /* #ffebed with 80% opacity */
        rgba(255, 242, 244, 0.8)  /* #fff2f4 with 80% opacity */
    );
}

.story ul {
    list-style-type: disc;
    padding-left: 30px;
}

.story ul li {
    color: #371111;
    font-size: 27px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px #FF1694;
    transition: font 0.3s;
}

.story ul li:hover {
    background: linear-gradient(to right,
        rgba(255, 182, 193, 0.8), /* #ffb6c1 with 80% opacity */
        rgba(255, 195, 200, 0.8), /* #ffc3c8 with 80% opacity */
        rgba(255, 222, 229, 0.8), /* #ffdee5 with 80% opacity */
        rgba(255, 235, 237, 0.8), /* #ffebed with 80% opacity */
        rgba(255, 242, 244, 0.8)  /* #fff2f4 with 80% opacity */
    );
    transform: scale(1.05);
}

/* Keyframes for FadeIn and FadeOut Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Mission and Vision */
.w3-animate-left {
    animation: animateleft 0.5s;
    position: relative;
}

.w3-animate-right {
    animation: animateleft 0.5s;
    position: relative;
}

.w3-animate-left:hover, .w3-animate-right:hover {
    background: linear-gradient(to top,
        rgba(255, 182, 193, 0.8), /* #ffb6c1 with 80% opacity */
        rgba(255, 195, 200, 0.8), /* #ffc3c8 with 80% opacity */
        rgba(255, 222, 229, 0.8), /* #ffdee5 with 80% opacity */
        rgba(255, 235, 237, 0.8), /* #ffebed with 80% opacity */
        rgba(255, 242, 244, 0.8)  /* #fff2f4 with 80% opacity */
    );
    padding: 7px 14px;
}

@keyframes animateleft {
    from { left: -300px; opacity: 0; }
    to { left: 0; opacity: 1; } 
}

@keyframes animateright {
    from { left: -300px; opacity: 0; } 
    to { left: 0; opacity: 1; } 
}

/* Team Members for this Website */
.team {
    margin-top: 50px;
}

.team h2 {
    color: #FF1694;
    font-family: 'Times New Roman', Times, serif;
    font-size: 56px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}

.team h2:hover, .team h3:hover {
    transform: scale(1.05);
}

.team-member {
    margin-bottom: 40px;
}

.team-img {
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-center: 20px; 
    max-width: 200px; 
    position: center;
}

.team-img:hover {
    transform: scale(1.15); 
    z-index: 1000; 
}

.team h3 {
    color: #371111;
    font-size: 35px;
    font-weight: bold;
    margin-top: 10px;
    text-shadow: 1px 1px 2px #FF1694;
}

.team p {
    color: brown;
    font-size: 22px;
    text-decoration: bold;
    text-shadow: 1px 1px 2px #fff;
}

.social-links p {
    color: brown;
    font-size: 22px;
    margin-top: 10px;
    text-decoration: bold;
    text-shadow: 1px 1px 2px #fff;
}

.social-links a {
    background: linear-gradient(to right, #ff69b4, #ffc0cb, #ffffff);
    color: #371111;
    font-size: 20px;
    margin: 0 10px;
    padding: 3px 6px;
    text-decoration: underline;
    text-shadow: 0px 1px 1px #FF1694;
    transition: color 0.3s;
}

.social-links a:hover {
    background: linear-gradient(to left, #ff1493, #ff69b4, #ffb7c5);
    color: #fff;
    padding: 3px 6px;
    text-shadow: 2px 1px 2px #000;
}

/* Cherry Blossom Guide Content */
.cherry-blossom-guide {
    animation: fadeInDown 0.5s;
    margin-top: 40px;
}

.cherry-blossom-guide h1 {
    color: #371111;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    margin-bottom: 0; /* Remove space below */
    margin-top: 0; /* Remove space above */
    text-shadow: 3px 3px 6px #FF1694;
}

.cherry-blossom-guide h1:hover {
    transform: scale(1.1);
}

/* Planting Care Section */
.planting-care {
    margin-top: 10px;
}

.planting-care h2 {
    color: #FF1694;
    font-family: 'Times New Roman', Times, serif;
    font-size: 56px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}

.planting-care h2:hover, .planting-care p:hover {
    transform: scale(1.05);
}

#planting-care .care-section {
    display: flex;
    flex-direction: column; 
    gap: 20px;
}

.care-content {
    background: linear-gradient(to bottom, 
        rgba(255, 235, 238, 0.8), /* Light pink with 80% opacity */
        rgba(255, 220, 234, 0.8), /* Slightly deeper pink with 80% opacity */
        rgba(255, 204, 230, 0.8), /* Medium pink with 80% opacity */
        rgba(245, 222, 240, 0.8), /* Light lavender with 80% opacity */
        rgba(255, 242, 244, 0.8)  /* Very light pink with 80% opacity */
    );
    list-style: none;
    padding: 0;
}

.care-section h3 {
    color: #371111;
    font-size: 35px;
    margin-top: 10px;
    text-decoration: underline; 
    text-shadow: 1px 1px 2px #FF1694; 
}

.care-content li {
    align-items: flex-start;
    border-bottom: 1px solid #FFFFF0; /* Line between items */
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-bottom: 15px;
    padding: 10px; /* Add padding for spacing */
}

.care-content li:last-child {
    border-bottom: none; /* Remove line from the last item */
}

.care-content li h3 {
    color: #8B008B;
    font-size: 30px;
    margin: 0;
    padding-right: 20px;
    text-decoration: none;
    text-shadow: 1px 1px 2px #fff;
    width: 40%;
}

.care-content li p {
    color: #FF1694; /* Light grey */
    font-size: 25px;
    margin: 0;
    text-shadow: 1px 1px 2px #fff;
    width: 50%;
}

/* Different Cherry Blossom Variety Styles */
.blossom-variety {
    margin-top: 50px;
}

.blossom-variety h2 {
    color: #FF1694;
    font-family: 'Times New Roman', Times, serif;
    font-size: 56px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}

.blossom-variety h2:hover {
    transform: scale(1.05);
}

.variety-content {
    background: linear-gradient(135deg, 
        rgba(255, 192, 203, 0.6), /* Blush Pink with 60% opacity */
        rgba(255, 209, 220, 0.6), /* Soft Petal Pink with 60% opacity */
        rgba(255, 235, 235, 0.6), /* Light Pink with 60% opacity */
        rgba(255, 255, 240, 0.6), /* Ivory with 60% opacity */
        rgba(230, 230, 250, 0.6)  /* Lavender with 60% opacity */
    );
    list-style: none;
    padding: 0;
    width: 100%;
}

.variety-content li {
    align-items: center;
    border-bottom: 1px solid #FFFFF0; /* Line between items */
    border-top: 1px solid #FFFFF0; /* Line between items */
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 20px 0;
    padding: 10px; /* Add padding for spacing */
}

.variety-content li:last-child {
    border-bottom: none; /* Remove line from the last item */
}

.variety-content h3 {
    color: #FF91A4;
    flex: 1; /* Make the title take available space */
    font-size: 32px;
    font-weight: bold;
    margin: 0 20px;
    text-shadow: 1px 1px 2px #000;
}

.variety-content p {
    color: #8B008B;
    flex: 2; /* Make the paragraph take available space */
    font-size: 20px;
    margin: 0 20px;
    text-shadow: 1px 1px 2px #fff;
}

.variety-content p:hover {
    transform: scale(1.05);
}

.variety-img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 20px;
    max-width: 200px;
}

.variety-img:hover {
    transform: scale(1.2);
}

.variety-section {
    align-items: center;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .variety-content li {
        align-items: flex-start;
        flex-direction: column;
    }

    .variety-content h3, .variety-content p {
        margin: 10px 0;
    }

    .variety-img {
        margin: 20px 0;
    }
}

/* Viewing Spots Section */
.best-viewing-spots {
    animation: fadeInDown 0.5s;
    margin-top: 50px;
    text-align: center;
}

.best-viewing-spots-content h1 {
    color: #371111;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    margin-bottom: 0; /* Remove space below */
    margin-top: 0; /* Remove space above */
    text-shadow: 3px 3px 6px #FF1694;
}

.best-viewing-spots-content h1:hover {
    transform: scale(1.1);
}

.spot h2 {
    background: linear-gradient(to bottom, 
        rgba(255, 20, 147, 0.6), 
        rgba(255, 105, 180, 0.6), 
        rgba(255, 183, 197, 0.6) 
    );
    color: #fff;
    font-family: Arial, sans-serif; 
    font-size: 56px;
    font-style: italic;
    font-weight: bold;
    margin-top: 50px;
    text-shadow: 1px 1px 3px #FF1694;
}

.spot h3 {
    color: #FF91A4;
    font-size: 39px;
    font-weight: bold;
    margin: 0 20px;
    text-shadow: 1px 1px 2px #000;
    margin-top: 3%;
}

.spot p {
    color: #371111;
    font-size: 25px;
    margin: 0 20px;
    text-shadow: 1px 1px 2px #FF1694;
    margin-top: 5%;
}

.spot p:hover {
    transform: scale(1.05);
}

.spot-img {
    height: auto;
    margin-bottom: 20px;
    margin-top: 10%;
    max-height: 300px;
    object-fit: cover;
    transition: transform 0.3s, opacity 0.3s;
    width: 100%;
}

.spot-img-container {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.spot-img:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

/* Make the Name appear in the Images */
.image-label {
    background: linear-gradient(to bottom, 
        rgba(255, 105, 180, 0.9), 
        rgba(255, 192, 203, 0.9),  
        rgba(255, 255, 255, 0.9)
    );
    border-radius: 5px;
    color: #fff;
    left: 50%;
    opacity: 0;
    padding: 2px 4px;
    position: absolute;
    top: 60%;
    transition: opacity 0.3s;
}

.spot-img-container:hover, .image-label {
    opacity: 1;
}

/* More Destinations and Tips Styles */
.more-content {
    border-radius: 10px;
    font-family: Arial, sans-serif;
    padding: 5px;
    text-align: center;
}

.more-content a {
    color: #371111;
    display: block;
    font-size: 22px;
    margin: 10px 0;
    text-decoration: none;
    text-shadow: 1px 1px 2px #FF1694;
}

.more-content a:hover {
    background: linear-gradient(to left, #ff1493, #ff69b4, #ffb7c5);
    color: #fff; 
    text-shadow: 1px 1px 2px #000;
}

.more-content p {
    color: #FFB7C5; 
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px #000;
}

.destinations-button {
    background: linear-gradient(to right, #ff69b4, #ffc0cb, #ffffff);
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    display: inline-block; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.destinations-button:hover {
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    transition: color 0.3s;
    transform: translateY(-3px); /* Slight lift effect on hover */
}

.iframe-style {
    border: none; 
    height: 360px; 
    width: 600px; 
}

.overlay {
    background: linear-gradient(to right, 
        rgba(255, 105, 180, 0.8), 
        rgba(255, 192, 203, 0.8), 
        rgba(255, 255, 255, 0.8)
    );
    border-radius: 5px;
    color: #371111;
    font-size: 18px;
    left: 50%;
    padding: 10px 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 2px #FF1694; 
}

.overlay:hover {
    background: linear-gradient(to left, 
        rgba(255, 20, 147, 0.8), 
        rgba(255, 105, 180, 0.8), 
        rgba(255, 183, 197, 0.8)
    );
    color: #fff;
    text-shadow: 1px 1px 2px #000; 
}

.spot a {
    color: #371111;
    font-size: 22px;
    text-decoration: none;
    text-shadow: 1px 1px 2px #FF1694;
}

.tips-button {
    background: linear-gradient(to right, #ff69b4, #ffc0cb, #ffffff);
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    display: inline-block; 
    font-size: 19px; 
    margin: 20px;
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.tips-button:hover {
    background: linear-gradient(to left, #ff1493, #ff69b4, #ffb7c5);
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    transition: color 0.3s;
    transform: translateY(-3px); 
}

.video-container {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping for the online video */
    gap: 20px;
    justify-content: space-around; /* Space between items */
    margin: 40px;
    width: 100%; /* Full width of the container */
    margin: auto; /* Center the container */
}

.video-popup {
    align-items: center;
    background: linear-gradient(to bottom, 
        rgba(255, 235, 238, 0.8), /* Light pink with 80% opacity */
        rgba(255, 220, 234, 0.8), /* Slightly deeper pink with 80% opacity */
        rgba(255, 204, 230, 0.8), /* Medium pink with 80% opacity */
        rgba(245, 222, 240, 0.8), /* Light lavender with 80% opacity */
        rgba(255, 242, 244, 0.8)  /* Very light pink with 80% opacity */
    );
    display: none;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.video-popup video {
    height: auto;
    max-width: 800px;
    width: 80%;
}

.video-popup, .close {
    color: #371111;
    cursor: pointer;
    font-size: 50px;
    position: absolute;
    right: 40px;
    top: 40px;
    text-shadow: 1px 1px 2px #FF1694; 
}

.video-popup, .close:hover {
    color: #FF1694;
    text-shadow: 2px 1px 4px #000;
}

.video-thumbnail {
    cursor: pointer;
    flex-basis: calc((100% / 3) - 20px); /* Each thumbnail takes up one-third of the container */
    text-align: center;
}

.video-thumbnail img {
    border-radius: 10px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    height: auto; 
    object-fit: cover; 
    width: 100%; /* Full width of the flex item */
}

.video-thumbnail p {
    color: #371111;
    flex: 1; 
    font-size: 27px; 
    text-shadow: 1px 1px 1px #FF1694; 
    transform: font 0.3s;
}

.virtual-tour {
    height: 0;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%; 
    position: relative;
}

.virtual-tour h2 {
    color: #FF1694;
    font-family: 'Times New Roman', Times, serif;
    font-size: 56px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}

.virtual-tour h2:hover {
    transform: scale(1.05);
}

.virtual-tour-container {
    padding: 20px 0;
    text-align: center;
}

/* Cherry Blossom Cultural Significance */
.cherry-blossom-cultural-significance {
    animation: fadeInDown 0.5s;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1500px;
    text-align: center;
}

.cherry-blossom-cultural-significance h1 {
    color: #371111;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    margin-bottom: 0; /* Remove space below */
    margin-top: 0; /* Remove space above */
    text-shadow: 3px 3px 6px #FF1694;
}

.cherry-blossom-cultural-significance h1:hover {
    transform: scale(1.1);
}

.history h2 {
    color: #FF1694;
    font-family: 'Times New Roman', Times, serif;
    font-size: 56px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000; /* Clear black shadow */
}

.history h2:hover {
    transform: scale(1.05);
}

.history p {
    color: #371111;
    font-size: 22px;
    margin: 0 20px;
    text-shadow: 1px 1px 2px #FF1694;
}

.history p:hover {
    background: linear-gradient(to left,
        rgba(255, 182, 193, 0.8), /* #ffb6c1 with 80% opacity */ 
        rgba(255, 195, 200, 0.8), /* #ffc3c8 with 80% opacity */ 
        rgba(255, 222, 229, 0.8), /* #ffdee5 with 80% opacity */ 
        rgba(255, 235, 237, 0.8), /* #ffebed with 80% opacity */ 
        rgba(255, 242, 244, 0.8)  /* #fff2f4 with 80% opacity */
    );
    transform: scale(1.03);
}

/* Articles */
.related-articles {
    border-radius: 10px;
    font-family: Arial, sans-serif;
    padding: 5px;
    text-align: center;
}

.related-articles h2 {
    color: #FF1694;
    font-family: 'Times New Roman', Times, serif;
    font-size: 56px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000; /* Clear black shadow */
}

.related-articles h2:hover {
    transform: scale(1.05);
}

.related-articles a {
    color: #371111;
    display: block;
    font-size: 22px;
    margin: 10px 0;
    text-decoration: none;
    text-shadow: 1px 1px 2px #FF1694;
}

.related-articles a:hover {
    background: linear-gradient(to left, #ff1493, #ff69b4, #ffb7c5);
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

.articles-button {
    background: linear-gradient(to right, #ff69b4, #ffc0cb, #ffffff);
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    display: inline-block; 
    margin-top: 50px;
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.articles-button:hover {
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    transform: translateY(-3px); /* Slight lift effect on hover */
    transition: color 0.3s;
}

/* Events Calendar Styles */
.events-calendar {
    background: #FFF2F4; /* Light Cherry Blossom White Background */
    border: 5px solid #FFB7C5; /* Cherry Blossom Pink Border */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    overflow: hidden;
    position: relative;
}

.events-calendar h2 {
    background: linear-gradient(to bottom, #FFB7C5, #FFC1CC, #FFF2F4); /* Gradient Background */
    color: #800080;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.events-calendar table {
    border-collapse: collapse;
    width: 100%;
}

.events-calendar th, .events-calendar td {
    border-bottom: 1px solid #FFE1E1;
    padding: 5px;
    text-align: center;
}

.events-calendar td {
    color: #FF1694;
    font-size: 20.5px;
    text-shadow: 1px 1px 2px #fff;
}

.events-calendar th {
    background: linear-gradient(to bottom, #FFB7C5, #FFC1CC, #FFF2F4); /* Gradient Background */
    font-size: 20.5px;
}

.events-calendar tr:hover {
    background: linear-gradient(to bottom, #FFB7C5, #FFC1CC, #FFF2F4); /* Gradient Background */
    cursor: pointer;
}

.events-calendar tr:nth-child(even) {
    background-color: #FFDDE4; /* Light Pink */
}

/* Gallery and Shop Styles */
.contact-section {
    align-items: center;
    background: linear-gradient(135deg, 
        rgba(255, 105, 180, 0.5), 
        rgba(255, 192, 203, 0.5), 
        rgba(255, 255, 255, 0.5)
    ); 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 40px;
    padding: 40px;
    text-align: center;
}

.contact-section button {
    background: linear-gradient(to right, #ff69b4, #ffc0cb, #ffffff);
    border: none;
    border-radius: 5px;
    color: #371111;
    cursor: pointer;
    font-size: 20px;
    padding: 15px 30px;
    text-shadow: 1px 1px 2px #FF1694;
    transition: background 0.3s, color 0.3s;
}

/* Button Hover Effect */
.contact-section button:hover {
    background: linear-gradient(to left, #ff1493, #ff69b4, #ffb7c5);
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

.contact-section form {
    align-items: center;
    color: #371111;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    max-width: 100%;
    text-shadow: 1px 1px 2px #FF1694; 
    width: 100%;
}

.contact-section h3 {
    color: #371111;
    font-size: 40px;
    margin-bottom: 30px;
    text-shadow: 1px 1px 2px #FF1694; 
}

.contact-section input, .contact-section textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 18px;
    padding: 15px;
    width: 100%;
}

.contact-section label {
    display: block;
    margin-bottom: 10px;
}

.contact-section, .form-group {
    margin-bottom: 20px;
    width: 100%;
}

.form-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.gallery-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

/* Button Styles */
.gallery-section button {
    background: linear-gradient(to right, 
        rgba(255, 105, 180, 0.9), 
        rgba(255, 192, 203, 0.9), 
        rgba(255, 255, 255, 0.9)
    );
    border: none;
    border-radius: 5px;
    color: #371111;
    cursor: pointer;
    font-size: 19px;
    margin-bottom: 20px;
    padding: 5px 10px;
    text-shadow: 1px 1px 2px #FF1694; 
    transition: background 0.3s;
}

.gallery-section button:hover {
    background: linear-gradient(to left, 
        rgba(255, 20, 147, 0.9), 
        rgba(255, 105, 180, 0.9), 
        rgba(255, 183, 197, 0.9)
    ); 
    color: #fff;
    font-size: 19px;
    text-shadow: 1px 1px 2px #000; 
}

.gallery-shop {
    animation: fadeInDown 0.5s;
    margin-top: 35px;
    padding: 20px 0; /* Space around the section */
    text-align: center;
}

.gallery-shop h1 {
    color: #371111; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    margin-bottom: 0; /* Remove space below */
    margin-top: 0; /* Remove space above */
    text-shadow: 3px 3px 6px #FF1694; 
}

.gallery-shop h1:hover {
    transform: scale(1.1);
}

.gallery-shop h2 {
    color: #FF1694;
    font-family: 'Times New Roman', Times, serif;
    font-size: 56px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}

.gallery-shop h2:hover {
    transform: scale(1.05);
}

.left-column, .right-column {
    width: 48%;
}

#photo-gallery {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 20px auto;
    max-width: 1200px;
    width: 100%;
}

.photo-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
    padding-bottom: 100%; 
    position: relative;
    width: 100%;
}

.photo-item button {
    border: none;
    bottom: 0px;
    border-radius: 3px;
    color: #371111;
    cursor: pointer;
    left: 50%;
    padding: 5px 10px;
    position: absolute;
    text-shadow: 1px 1px 2px #FF1694; 
    transform: translateX(-50%);
    transition: background-color 0.3s;
}

.photo-item button:hover {
    color: #fff;
    text-shadow: 1px 1px 2px #000; 
}

.photo-item img {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Shop Content with star ratings */
.shop-content {
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

#shop-shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.shop-item {
    box-sizing: border-box;
    flex: 0 0 19%; /* 19% of the container width to fit five items in one row */
    height: 200px; 
    margin-bottom: 20px;
    position: relative;
}

.shop-item:hover, .rating { 
    opacity: 1; /* Show stars on hover */ 
}

.shop-item img {
    display: block;
    height: 100%;
    margin: 0 auto;
    object-fit: cover; 
    width: 100%;
}

.rating { 
    color: #edc531; 
    opacity: 0; /* Initially hide the stars */ 
    position: absolute; 
    text-shadow: 1px 2px 2px #000;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    transition: opacity 0.3s; 
}


/* Ratings */
.rating { 
    color: #edc531; 
    opacity: 0; /* Initially hide the stars */ 
    position: absolute; 
    text-shadow: 1px 2px 2px #000;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    transition: opacity 0.3s; 
}


/* Special Features Section */
.special-features {
    animation: fadeInDown 0.5s;
    background: #FFF2F4; 
    border: 5px solid #FFB7C5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial, sans-serif';
    margin: 20px auto;
    overflow: hidden;
    padding: 40px;
    position: relative;
    max-width: 800px;
}

/* Section Title */
.special-features h1 {
    background: linear-gradient(to bottom, #FFB7C5, #FFC1CC, #FFF2F4); /* Gradient Background */
    color: #371111; /* Dark Brown */
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    text-shadow: 1px 1px 2px #FF1694;
}

.special-features h1:hover {
    transform: scale(1.1);
}

/* Feature Titles */
.feature h2 {
    background: linear-gradient(to bottom, #FFB7C5, #FFC1CC, #FFF2F4); /* Gradient Background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #FF1493; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px; 
    font-style: italic;
    margin-bottom: 15px; /* Increased margin for spacing */
    padding: 10px 0;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
}

/* Paragraphs */
.feature p {
    color: #371111; /* Dark Brown */
    font-size: 18px; /* Adjusted font size */
    line-height: 1.6;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px #FF1694;
}

/* Bloom Tracker Table */
.bloom-tracker-table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
}

.bloom-tracker-table th, .bloom-tracker-table td {
    border-bottom: 1px solid #FFE1E1;
    padding: 10px;
    text-align: center;
}

.bloom-tracker-table th {
    background: linear-gradient(to bottom, #FFB7C5, #FFC1CC, #FFF2F4); /* Gradient Background */
    color: #800080; /* Dark Purple */
    font-size: 25px;
    font-weight: bold;
}

.bloom-tracker-table td {
    color: #FF1694; 
    font-size: 20px;
    text-shadow: 1px 1px 2px #fff;
}

.bloom-tracker-table tr:nth-child(even) {
    background-color: #FFDDE4; 
}

.bloom-tracker-table tr:hover {
    background: linear-gradient(to bottom, #FFB7C5, #FFC1CC, #FFF2F4); /* Gradient Background */
    cursor: pointer;
}

/* Bloom Button Styles */
.bloom-button {
    background: linear-gradient(to right, #ff69b4, #ffc0cb, #ffffff);
    border: none;
    border-radius: 15px; /* More pronounced curve edges */
    color: #371111; /* Dark Brown */
    cursor: pointer; 
    display: inline-block; 
    font-size: 22.5px; /* Slightly smaller font size */
    margin: 20px;
    padding: 5px 15px; /* Smaller padding for a smaller button */
    text-align: center; 
    text-decoration: none; 
    text-shadow: 1px 1px 2px #FF1694;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.bloom-button:hover {
    background: linear-gradient(to left, #ff1493, #ff69b4, #ffb7c5); /* Gradient Background */
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    transform: translateY(-3px); 
    transition: color 0.3s;
}

/* Contacts Section */
.contacts-section {
    animation: fadeInDown 0.5s;
    background: linear-gradient(to bottom, rgba(255, 240, 245, 0.8), rgba(255, 228, 232, 0.8), #FFF2F4); /* Light gradient */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px 20px;
    text-align: center;
}

/* Social Media Integration */
.Contacts-footer h2 {
    color: #FF1694;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}

.Contacts-footer h2:hover {
    transform: scale(1.05);
}

.Contacts-footer p {
    color: #800080; /* Dark Purple */
    font-size: 22px;
    margin-bottom: 20px;
}

/* Social Media Icons */
.social-icons {
    margin-top: 20px;
    text-align: center;
}

/* Footer Styles */
footer {
    background: linear-gradient(to bottom, #FFB7C5, #FFC1CC, #FFF2F4); /* Gradient background */
    border-top: 5px solid #FF69B4; /* Hot Pink border */
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

footer p {
    color: #800080; /* Dark Purple */
    font-size: 18px;
    margin: 0;
    text-shadow: 1px 1px 2px #fff; /* White shadow for better readability */
}
