/* header */
header {
    background-color: yellowgreen;
    position: sticky;
    top: 0;
    padding: 0 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
}
header h1 {
    color: white;
    text-align: center;
}
header ul {
    display: flex;
    gap: 40px;
}
header li {
    list-style: none;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
}
header li:hover {
    color: blue;
}
nav button{
    color: #fff;
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav button:hover{
    background-color: #5e3bee;
    border-color: white;
    color: #fff;
}
nav button#menuButton{
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 7px;
}

header .progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
    margin-left: 100px;
    margin-right: 100px;
}
header .progress-bar {
    height: 8px;
    background: #5e3bee;
    width: 0%;
}

/* overlay */
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
  
#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

/*skill*/
.skills {
    font-family: Arial, Helvetica, sans-serif;
}
.skill-items{
    text-align: center;
}

/*tournaments*/
#tournaments{
    background-color: #deebee;
    padding: 110px 85px;
    font-family: cursive;
}

#tournaments #header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

#tournaments #portfo-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

#tournaments #portfo-items #item{
    width: 30%;
    background-color: #fff;
    border-radius: 10px;
    border-bottom: 6px solid transparent;
    cursor: pointer;
    box-shadow: 0 5px 32px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

#tournaments #portfo-items #item:hover{
    border-color: #5e3bee;
}


#tournaments #portfo-items #item #info{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 20px 32px 42px;
}

#tournaments #portfo-items #item #info p{
    font-size: 13px;
}

#tournaments #portfo-items #item #info a{
    text-decoration: underline;
    text-decoration-color: #5e3bee;
    color: black;
}

#tournaments #portfo-items #item #info h4{
    font-size: 18px;
}

#tournaments #header h5 {
    font-size: 20px;
}
#tournaments #header h3 {
    font-size: 30px;
}


/*video*/
.video-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
}
.video-container h2 {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
}
.video-container video {
    max-width: 50%;
    max-height: 50%;
}

/* contact form */
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #deebee;
    padding: 110px 85px;
}

.form-container {
    width: 300px;
    background-color: #f2f2f2;
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-container input[type="text"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-container input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #45a049;
}

.timeline {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    background-color: #16222D;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  .timeline .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 30%;
  }
  
  .timeline .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  .left {
    left: 15.7%;
  }
  
  .right {
    left: 50%;
  }
  
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  .right::after {
    left: -16px;
  }
  
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }

/* responsive */
@media screen and (max-width: 1200px) {
section h5{
    font-size: 18px;
}
section h3{ 
    font-size: 36px;
}
section p{
    font-size: 18px;
 }
.skills skill-items{
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skills skill-items .item{
    width: 49%;
}
.skills h3, #tournaments #header h3 { 
    font-size: 32px;
}
footer ul{
    gap: 20px;
}
}

@media screen and (max-width: 992px) {
nav button{
    display: none;
}
nav ul{
    gap: 20px;
}
nav ul li a{
    font-size: 15px;
}
section{
    flex-direction: column;
}
#tournaments #portfo-items{
    gap: 22px;
    flex-wrap: wrap;
    justify-content: center;
}
#tournaments #portfo-items #item{
    width: 48%;
}
footer ul{
    display: none;
}
footer a{
    display: none;
}
}

@media screen and (max-width: 768px) {
nav{
    justify-content: space-between;
    padding: 0 42px;
}
nav ul{
    display: none;
}
nav.open ul{
    display: flex;
}
nav button#menuButton{
    display: flex;
}
section{
    padding: 42px;
}
.skills{
    padding: 85px 42px 0;
}
.skills skill-items{
    gap: 8px;
}
#tournaments{
    padding: 60px 42px;
}
#tournaments #portfo-items{
    gap: 18px;
}
footer {
    padding: 85px 42px;
}
footer a{
    display: none;
}
}

@media screen and (max-width: 576px) {
nav ul li a{
    font-size: 13px;
}
section h3{
    font-size: 32px;
}
section p{
    font-size: 16px;
}
.skills .skill-items .item{
    width: 100%;
}
#tournaments #portfo-items #item{
    width: 80%;
}
footer a{
    display: none;
}
    
}