* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Raleway';

}

nav {
    background-color: #4675a3;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    padding: 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #0c435c;
    border-radius: 5px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
    justify-items: center;
    text-align: center;
}

section img {
    justify-content: center;
    max-width: 100%;
    height: 500px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.workout, .program {
    margin-bottom: 20px;
    text-align: center;
}

#workout-section, #program-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
}



footer {
    background-color: #2C3E50;  
    color: white; 
    text-align: center;  
    padding: 20px;  
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 1em;
    color: #fff;
}