*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background: rgb(232,238,241);
    background: radial-gradient(circle, rgba(232,238,241,1) 0%, rgba(149,205,238,1) 100%);
}

section {
    width: 100%;
    height:50vh;
    background-size: cover;
    background-image: url(img/8406757.gif);
    background-repeat: no-repeat;
    overflow: hidden;
}

section nav{
    width: 100%;
    height: 12vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px black;
    background: rgb(190,197,201);
    background: radial-gradient(circle, rgba(190,197,201,1) 7%, rgba(232,238,241,1) 88%);
    position: fixed;
    z-index: 100;
}

section nav .logo img{
    width: 150px;
    cursor: pointer;
    
  }
  section nav ul{
    list-style: none;
    margin-right: 60%;
  }
  section nav li{
    display: inline-block;
    padding: 0 5px;
    font-size: 23px;
    
  }
  section nav li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: background-color 0.3s ease-in-out;
    padding:15px;
  }
  section nav li a:hover{
    color:  rgb(247, 248, 248);
    background-color: #43b0f1;
    border-bottom:  3px solid #032133;

  }


  ::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 8px black;
}

::-webkit-scrollbar-thumb{
    background: #071d2a;
    border-radius: 10px;
}



section .contact .contact-us h2{

    position: relative;
    font-size: 90px;
    text-shadow: 10px 10px 15px rgb(30, 71, 153);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    top:150px;
    left: 25px;
    color: #071d2a;
    text-align: center;
    align-items: center;
    font-weight: 900;
}

.content{
    width: 90%;
    height: auto;
    background-color:rgba(255, 255, 255, 0.5);
    margin:5% 5% 5% 4%;
    border: 5px solid rgba(10, 118, 206, 0.845);
}

.content h2{
    color: rgba(22, 118, 236, 0.741);
    text-align: center;
    margin-top: 2%;
    font-size: 40px;
    text-transform: uppercase;
}

.container {
    border-radius: 5px;
    background-color: #909ea2;
    width: 98%;
    height: 80vh;
    margin: 2% 2% 2% 1%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 2%;
}


 input[type=text], select, textarea {
    width: 96%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 2%;
    resize: vertical;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .content label{
    margin-left: 2%;
    font-size: 17px;
    font-weight: 900;

  }
  
  input[type=submit] {
    background-color:rgba(22, 118, 236, 0.741);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 2%;
    font-size: 15px;
  }
  
  input[type=submit]:hover {
    background-color: #19066f;
  }
  



   /* Media Query */
   @media only screen and (max-width: 768px) {
    html, body{
        width: 100%;
        
    }

    section nav{
        width: 100%;
        height: 8.5vh;
    }

    section nav .logo img {
        width: 50px;
    }
    
    section nav ul {
        display:flex;
        margin-right: 20%;
    }

    section nav li{
        font-size: 15px;
        padding: 0 3px;
    }
    
    section nav li a{
        padding:10px;
      }

    
    section .contact .contact-us h2{

        font-size: 25px;
        margin-left: -15%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }

    .container {
        height: 90vh;
    }

    .content h2{
        font-size: 25px;
        margin: 4% 4%;
    }
    input[type=submit] {
    font-size: 10px;
    }
}