        /* Media Queries for smaller screens */
        @media only screen and (max-width: 768px) {
            html, body{
                width: 100%;
                overflow-x: hidden;
            }
            
            
            section {
                width: 100%;
                height: 50vh;
                background-image: url(img/rivergiphy.gif);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 0;
            } 
            section nav{
                width: 100%;
                height: 8.5vh;
            }

            section nav .logo img {
                width: 100px;
            }
            
            section nav ul {
                display:flex;
                margin-right: 20%;
            }

            section nav li{
                font-size: 15px;
                padding: 0 3px;
            }
            
            section nav li a{
                padding:10px;
              }

            section .main {
            display: flex;
            align-items: center;
            justify-content: space-around;
            position: relative;
            padding-top: 0;
        }


            section .main h1 {
                position: relative;
                font-size: 30px;
                top: 150px;
                left: 30px;
                text-align: left;
                color: #5ba4d7;
            }

            section .main h1 span{
                font-size: 55px;
                color: white;
            }


            section .main .row {
/*                 margin: 0;
                padding: 20px; */
                display: none;
            }

            section .main .row img {
                width: 100%;
                height: auto;
                margin: 0;
            }



    /* About US */
        .about{
            width: 95%;
            height: auto;
            padding: 20px;
            display:flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 10%;
            margin-top: 10%;
        }
        .about .about-image img{
            width: 100px;
            display: none;
        }
        .about .about-tag h1{
            font-size: 30px;
            position: relative;
            bottom: 20px;
        }

        .about .about-tag p{
            line-height: 27px;
            width:93%;
            text-align: justify;
            margin-bottom: 18px;
        }

        .about .about-tag .about-btn{
            padding: 10px 15px;
            background: darkgreen;
            color: white;
            text-decoration: none;
            position: relative;
            font-size: 13px;
            top: 3%;
        }

/* My favorite Books */

        .aufave {
            width: 100%;
            height: 100vh;
            border-top: 2px solid #037d0f;
        }
        .aufave h1 {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            margin-top: -8%;
        }
        .aufave .aufave-box {
            width: 100%;
            height:90vh;
            align-content: center;
            display:inline-block;
            overflow-y: scroll;
          }

          .aufave .aufave-box .aufave-card {
            position: relative;
            width: 82%;
            height: 95%;
            border-radius: 20px;
            margin-bottom: 10%;
          }

          .aufave .aufave-box .aufave-card .aufave-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 92%;
            height:96%;
          }

          .aufave .aufave-box .aufave-card .aufave-overlay h1{
            text-align: center;
            margin-top: 3%;
            font-size: 30px;
        
        
          }
          .aufave .aufave-box .aufave-card .aufave-overlay p {
            font-size: 18px;
            line-height: 30px;
            margin-right: 10px;
            position: relative;
          }
        
        
        ::-webkit-scrollbar{
            display: none;
            width: 100%;
            height: 100vh;
        }

        .arvls{
            border-top: 2px solid #037d0f ;
            height: auto;
            border-bottom: 2px solid #037d0f ;
        }


        .arvls h1{
            font-size: 30px;
            text-align: center;
            margin-top:15%;
        }


        .arvls .arvls-box{
            width: 100%;
            margin: 0 auto;
            display:-ms-inline-grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 25px 0;
        }
        .arvls .arvls-box .arvls-cards{
            width: 60%;
            height: 70%;
            text-align: center;
            border: 5px solid rgb(45, 126, 151);
            margin: 0 10%;
            margin-bottom: 20px;
        }
        .arvls .arvls-box .arvls-cards .arvls-image{
            width: 90%;
            height: 90%;
            margin: 0 auto;
            cursor: pointer;
            box-shadow: 0 0 8px rgb(219, 219, 219);
            overflow: hidden;
        }

        


        /* Authors Quotes*/
        .rvs{
            width: 95%;
            height: auto;
            margin-top: 5%;
        }
        .rvs h1{
            text-align: center;
            font-size: 40px;
        }
        .rvs .rvs-box{
            width:93%;
            height: auto;
            margin: 15px auto;
            display:inline-block;
        }

        .rvs .rvs-box .rvs-card{
            width: 80%;
            height: 60vh;
            box-shadow: 0 0 8px #5ba4d7;
            padding: 20px;
            margin: 12%;
            border-radius: 5%;
        }

        .rvs .rvs-box .rvs-card .card p{
            font-size: 13px;
            line-height: 20px;
        }

        /* Footer */

        footer{
            padding-top: 10%;
            width: 100%;
            height: 100vh;
        }

        footer .ftr-main{
            width: 90%;
            height: auto;
            display:inline-block;
            text-align: justify;
        }
        footer .ftr-main .tag{
            margin-left: 3%;
        }

        footer .ftr-main .tag img{
            width: 60px;
            margin-bottom: 20%;
        }
        
        footer .ftr-main .tag p{
            width: 75%;
            line-height: 20px;
            text-align: justify;
            float:inline-start;
            color: whitesmoke;
            margin-left: 3%;
            float: right;
            margin-bottom: 10px;
        }
        
        footer .ftr-main .tag h1{
            font-size: 30px;
            margin-top: 10%;
            color: black;
        }
        footer .ftr-main .tag a{
            color: #faf9f9;
            text-decoration: none;
            display: inline-block;
            margin-left: 5%;
        }

        footer .ftr-main .tag .scl-link i{
            margin:5%;
            color: whitesmoke;

        }



    }

        /* Media Queries for larger screens */
        @media only screen and (min-width: 769px) {
            section nav .hamburger {
                display: none;
                /* Add this line to hide the hamburger icon on larger screens */
            }
        }
