* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
}

html {
    font-size: 65%;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(to right, #fc5d9d, #f9c596);
    color: #ffffff;
}

header {
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: #ffffff;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    background: linear-gradient(to right, #fc5d9d, #f9c596);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;

}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    color: #000000;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.5s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    background: linear-gradient(to right, #fc5d9d, #f9c596);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    border-bottom: 3px solid #fc5d9d;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #ffffff33;
    box-shadow: -10px 0 10px #ff3b3b1a;
    backdrop-filter: blur(3px);
    display: none; /* Hidden by default */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
    padding-bottom: 3%;
}

.sidebar a {
    width: 100%;
    padding-bottom: 1rem; /* Add padding for better touch targets */
    ;
}

.menu-button {
    display: none; /* Hidden by default */
    cursor: pointer; /* Change cursor to pointer */
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1200px) {
    .nav-list {
        display: none; /* Hide the regular nav list on small screens */
    }
    .menu-button {
        display: block; /* Show the hamburger menu button */
    }
    .sidebar {
        width: 100%; /* Full width on small screens */
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%; /* Full width on very small screens */
    }
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}
/* */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    background: linear-gradient(to right, #ff2e82, #e96426);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p {
    text-shadow: 2px 2px 4px #000000b3;
    font-size: 2rem;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    width: 30vw;
    border-radius: 100%;
    transition: 0.2s linear;
}

.home-img img:hover {
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #b74b4b;
}
.social-icons a:hover{
    color: #000000;
    transform: scale(1.3) translateY(-5px);
    background: linear-gradient(to right, #ff0066, #f9c596);
    box-shadow: 25px linear-gradient(to right, #ff0066, #f9c596);
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.typing-text span{
    position: relative;
}
.typing-text span::before{
    content: "a K-pop group";
    color: linear-gradient(to right, #ff0066, #f9c596);
    animation: words 20s infinite;
}
.typing-text span::after{
    content: "";
    background-color:none;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid #f9c596;
    right: -8;
    animation: cursor 1s infinite;
}
@keyframes cursor{
    to{
        border-left: 3px solid #ff0066;
    }
}
@keyframes words{
    0%, 20%{
        content: "a K-pop group";
    }
    21%, 40%{
        content: "Nation's Girl group";
    }
    41%, 60%{
        content: "the Pillars of JYPent";
    }
    61%, 80%{
        content: "Global Girl Group";
    }
    81%, 100%{
        content: "One in a million";
    }
}
@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}
@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .home .home-content h3{
        font-size: 2.5rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}