/* Navigation Styles */
.menu {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  align-items: center;
  flex-wrap: wrap;
}

.menu li {
  position: relative;
}

.menu a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: #41E975;
}

/* Hamburger Icon */
.hamburger {
  display: none;
  background: transparent;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

/* Show menu when toggled */
.menu.show {
  display: flex;
  flex-direction: column;
  width:100%;
  background: rgba(0, 0, 0, 0.9);
  padding: 10px;
  border-radius: 5px;
}