*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #faebd7;
}


.w3-container h1{
    color: #000000;
    justify-content: center;
    align-items: center;
    text-align: center;
}
    
.button-container{
    width: 100%;
    margin: 0 auto;
}

.button-container button{
    height: 120px;
    width: 240px;
    border-radius: 69px;
    border:1px solid #faebd7;
    margin: 1em 0 1em 0;
    text-align: center;
    transition: 1s all;
}

.button-container button:hover{
    color: #000000;
}

.w3-row{
display: flex;
height: 60%;

}

.w3-row p{
    font: 2.4em;
}

