* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    text-decoration: none;
    list-style: none;
}

h1{
    text-align: center;
}

p{
    text-align: center;
    margin-bottom: 25px;
}

#gelTitan{
    width: 60%;
    display: flex;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    margin: auto;
}