*{
    box-sizing: border-box;
  }
  
  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }

  header{
    outline: 1px solid black;
    width: 95vw;
    padding: 0px 0px 200px 0px
  }
  
  .navCont{
    outline: 1px solid black;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navCont nav{
    outline: 1px solid black;
    display: flex;
    gap: 45px
  }
  
  .navCont a{
    text-decoration: none
  }
  .heroSection{
    outline: 1px solid black;
    width: 95vw;
    margin: 200px 0px 0px 0px
  }
  
  .heroSection h1{
    text-align: center;
    font-size: 4em
  }
  
  .aboutSect{
    outline: 1px solid black;
    width: 95vw;
    display: flex;
    margin: 20px 0px
  }
  
  .textHere{
    outline: 1px solid black;
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .textHere p{
    text-align: center;
  }
  
  .containerA{
    width: 95vw;
    margin: 20px 0px;
    outline: 1px solid black;
    padding: 20% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  
  .card{
    outline: 1px solid black;
    padding: 50px;
    width: 70%;
    height: 250px;
    border-radius: 10px;
  }
  .recipeSect{
    outline: 1px solid black;
    width: 95vw;
    margin: 20px 0px;
    padding: 10% 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .recipeBox{
    outline: 1px solid black;
    width: 95vw;
    margin: 20px 0px;
    padding: 20% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .picRec{
    outline: 1px solid black;
    padding: 50px;
    width: 70%;
    height: 150px;
    border-radius: 10px;
  }
  
  .farewellSect{
    outline: 1px solid black;
    width: 95vw;
    margin: 20px 0px;
    padding: 20% 0;
  }
  
  footer{
    outline: 1px solid black;
    width: 95vw;
    padding: 0px 5px 5% 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  